table {
    width: 100%;
}

table td {
    padding: 5px 0;
}

.title {
    margin-top: 20px;
}

.card {
    margin-bottom: 15px;
}

.highest-damage {
    background-color: rgba(0, 123, 255, 0.75);
    color: white;
}
