{% extends "bootstrap/base.html" %}

{% block title %}
ForTheKing Calculator
{% endblock title %}

{% block styles %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/calc.css') }}">
{% endblock styles %}

{% block scripts %}
{{ super() }}
<script>
var attack_count = 0;
var attacks = [];
var threshold = 0;

function factorial(num) {
    if (num === 0 || num === 1)
        return 1;
    for (var i = num - 1; i >= 1; i--) {
        num *= i;
    }
    return num;
}

function bin(n, p, k) {
    var comb = factorial(n) / factorial(k) / factorial(n - k);
    var p_success = Math.pow(p, k);
    var p_failure = Math.pow(1 - p, n - k);

    return comb * p_success * p_failure;
}

function setThreshold(i) {
    var total_slots = attacks[i]['total_slots'];
    var slot_percent = attacks[i]['slot_percent'];
    var total_damage = attacks[i]['total_damage'];

    attacks[i]['threshold_percent'] = 0;
    for (var slot = 0; slot <= total_slots; slot++) {
        var bin_prob = bin(total_slots, slot_percent / 100, slot);
        var slot_dmg = total_damage * slot / total_slots;

        if (slot_dmg >= threshold) {
            attacks[i]['threshold_percent'] += bin_prob;
        }
    }

    attacks[i]['threshold_percent'] *= 100;
}

var threshold_form = document.getElementById('threshold-form');
$('#set-threshold').click(function() {
    if (threshold_form.checkValidity() === false) {
        threshold_form.classList.add('was-validated');
        return;
    }

    threshold_form.classList.remove('was-validated');
    threshold = $('#damage-threshold').val();

    for (var i = 0; i < attack_count; i++) {
        setThreshold(i);
        console.log(i);
        $('#attacks div:nth-child(' + (i + 1) + ') dd:last-child').text(attacks[i]['threshold_percent'].toFixed(2));
    }
});

var attack_form = document.getElementById('attack-form');
$('#add-attack').click(function() {
    if (attack_form.checkValidity() === false) {
        attack_form.classList.add('was-validated');
        return;
    }
       
    attack_form.classList.remove('was-validated');
    var name = $('#name').val();
    var total_damage = parseInt($('#damage').val());
    var total_slots = parseInt($('#slots').val());
    var slot_percent = parseInt($('#percent').val());

    $('#name').val('');
    $('#damage').val('');
    $('#slots').val('');
    $('#percent').val('');

    attacks.push({
        "name": name,
        "total_damage": total_damage,
        "avg_damage": 0,
        "stddev_damage": 0,
        "total_slots": total_slots,
        "slot_percent": slot_percent,
        "threshold_percent": 0
    });

    setThreshold(attack_count);

    attacks[attack_count]['avg_damage'] = total_damage * slot_percent / 100;
    var bin_stddev = Math.sqrt(total_slots * slot_percent / 100 * (1 - slot_percent / 100));
    attacks[attack_count]['stddev_damage'] = total_damage * bin_stddev / total_slots;

    var attack = '<div><h4>' + name + '</h4>' +
                 '<dl class="row">' +
                 '<dt class="col-8 col-lg-4">Total Damage</dt>' +
                 '<dd class="col-4 col-lg-8">' + total_damage + '</dd>' +
                 '<dt class="col-8 col-lg-4">Average Damage</dt>' +
                 '<dd class="col-4 col-lg-8">' + attacks[attack_count]['avg_damage'].toFixed(2) + '</dd>' +
                 '<dt class="col-8 col-lg-4">Std Dev Damage</dt>' +
                 '<dd class="col-4 col-lg-8">' + attacks[attack_count]['stddev_damage'].toFixed(2) + '</dd>' +
                 '<dt class="col-8 col-lg-4">Number of Slots</dt>' +
                 '<dd class="col-4 col-lg-8">' + total_slots + '</dd>' +
                 '<dt class="col-8 col-lg-4">Slot Percent</dt>' +
                 '<dd class="col-4 col-lg-8">' + slot_percent + '</dd>' +
                 '<dt class="col-8 col-lg-4">Threshold Percent</dt>' +
                 '<dd class="col-4 col-lg-8">' + attacks[attack_count]['threshold_percent'].toFixed(2) + '</dd>' +
                 '</dl><hr></div>';

    $('#attacks').append(attack);

    var found_greater = false;
    for (var i = 0; i < attack_count; i++) {
        if (attacks[i]['avg_damage'] > attacks[attack_count]['avg_damage']) {
            found_greater = true;
        }
    }

    attack_count++;
    if (!found_greater) {
        $('#attacks *').removeClass('highest-damage');
        $('#attacks tr:nth-child(' + attack_count + ') td').addClass('highest-damage');
    }
});

</script>
{% endblock scripts %}

{% block content %}
<div class="container">
    <h1 class="title"><i>For The King</i> Probability Calculator</h1>
    <hr>
    <div class="card">
        <div class="card-body">
            <h3 class="card-title">Add Attack Method</h3>
            <h6 class="card-subtitle mb-3 text-muted">
            Add available attacks for your character and weapon
            </h6>
            <hr>
            <div class="card-block">
                <form id="attack-form" novalidate>
                    <div class="form-group">
                        <label for="name">Attack Name</label>
                        <input type="text" 
                               class="form-control" 
                               id="name" 
                               placeholder="Name" 
                               required>
                        <div class="invalid-feedback">Please provide a valid name</div>
                    </div>
                    <div class="form-group">
                        <label for="damage">Attack Damage</label>
                        <input type="number" 
                               class="form-control" 
                               id="damage" 
                               placeholder="Damage" 
                               required>
                        <div class="invalid-feedback">Please provide a valid damage value</div>
                    </div>
                    <div class="form-group">
                        <label for="slots">Number of Slots</label>
                        <input type="number" 
                               class="form-control" 
                               id="slots" 
                               placeholder="Slots" 
                               required>
                        <div class="invalid-feedback">Please provide a valid slot count</div>
                    </div>
                    <div class="form-group">
                        <label for="percent">Slot Likelihood</label>
                        <input type="number" 
                               class="form-control" 
                               id="percent" 
                               placeholder="Percent" 
                               required>
                        <div class="invalid-feedback">Please provide a valid percent value</div>
                    </div>
                </form>
                <button id="add-attack" type="button" class="btn btn-primary btn-sm">Add Attack</button>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <h3 class="card-title">Damage Threshold</h3>
            <h6 class="card-subtitle mb-3 text-muted">
            Set a damage minimum to see which attack is more likely to reach and/or exceed the threshold
            </h6>
            <hr>
            <div class="card-block">
                 <form id="threshold-form" novalidate>
                    <div class="form-group">
                        <label for="damage-threshold">Damage Threshold</label>
                        <input type="number" 
                               class="form-control" 
                               id="damage-threshold" 
                               placeholder="Threshold" 
                               required>
                        <div class="invalid-feedback">Please provide a valid damage threshold</div>
                    </div>
                </form>
                <button id="set-threshold" type="button" class="btn btn-primary btn-sm">Set Threshold</button>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <h3 class="card-title">Attacks</h3>
            <h6 class="card-subtitle mb-3 text-muted">
            Attacks that are available
            </h6>
            <hr>
            <div id="attacks" class="card-block"></div>
        </div>
    </div>
</div>
{% endblock content %}
